<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8" http-equiv="refresh" content="30"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="icon" href="chat.ico"/>
  <title>George`s peer to peer chat program</title>
  <!-- Bootstrap core CSS -->
  <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>
  <!-- Custom styles for this template -->
  <link href="blog.css" rel="stylesheet"/>
  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]>
  <script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <form action="/updateform" method="post" enctype="application/x-www-form-urlencoded">
        <a class="blog-nav-item active" href="/">Home</a>
        <a class="blog-nav-item" href="/enter">Log in with other user</a>
        Your Username: <input title="username" type="text" name="username" th:placeholder="${user}"
                              autocomplete="off" required="required"/><input title="id"
                                                                             type="hidden" name="id"
                                                                             th:value="${id}"/>
        <input title="checkbox" type="checkbox" name="checkbox" value="on" /> Change username on old messages too.
        <button type="submit" class="btn btn-xs btn-success">update</button>
      </form>
    </nav>
  </div>
</div>
<div class="container">
  <br/>
  <div class="row">
    <div class="col-sm-8 blog-main">
      <h1 align="center">George`s peer to peer chat program</h1>
      <h3 th:text="${error}" class="red"></h3>
      <h3 align="center">Latest messages</h3>
      <hr/>
      <div class="blog-post" th:each="m : ${messages}" th:if="${m.getTimestamp().getTime() &lt; timenow}">
        <p th:text="'Message: ' + ${m.getText()}" style="word-wrap: break-word"></p>
        <p class="blog-post-meta"><span th:text="${m.getTimestamp()}"></span> by <a
            th:href="'/?user=' + ${m.getUsername()}">
          <button type="button" class="btn btn-xs btn-primary"
                  th:text="${m.getUsername()}"></button>
        </a></p>
        <hr/>
      </div><!-- /.blog-post -->
      <nav>
        <ul class="pager">
          <li><a href="#">Previous</a></li>
          <li><a href="#">Next</a></li>
        </ul>
      </nav>
    </div><!-- /.blog-main -->
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h4>New Message</h4>
        <form action="/newmessageform" method="post" enctype="application/x-www-form-urlencoded">
          <input title="id" type="hidden" name="id" th:value="${id}"/>
          <textarea name="message" title="message" rows="3" autocomplete="off" required="required"
                    placeholder="Type your message here"></textarea>
          <br/>
          Who do you want to send the message?
            <select title="urlUser" name="select">
              <option value="VIKTOR">Viktor</option>
              <option value="PATRIK">Patrik</option>
              <option value="RAMIN">Ramin</option>
              <option value="NORA">Nora</option>
              <option value="PETER">Peter</option>
              <option value="ZSOLT">Zsolt</option>
              <option value="MARCI">Marci</option>
              <option value="MILAN">Milan</option>
            </select>
          <button type="submit" class="btn btn-sm btn-success">send</button>
        </form>
      </div>
      <div class="sidebar-module">
        <h4>Users - TOP 20</h4>
        <span class="glyphicon glyphicon-record" style="color: green" aria-hidden="true"></span> - active (past 2 hours)<br/>
        <span class="glyphicon glyphicon-hourglass" style="color: blue" aria-hidden="true"></span> - future messages
        <ol class="list-unstyled" th:each="t : ${userlist}">
          <li><a th:href="'/?user=' + ${t.getUsername()}">
            <button type="button" class="btn btn-xs btn-primary" th:text="${t.getUsername()}"></button>
            <span th:if="${t.getTimestamp().getTime() &gt;  activelately and t.getTimestamp().getTime() &lt; timenow}" th:class="'glyphicon glyphicon-record'" th:style="'color: green'" aria-hidden="true"></span>
            <span th:if="${t.getTimestamp().getTime() &gt; timenow}" th:class="'glyphicon glyphicon-hourglass'" th:style="'color: blue'" aria-hidden="true"></span>
          </a></li>
        </ol>
        <button type="button" class="btn btn-xs btn-success">show all</button>
      </div>
    </div><!-- /.blog-sidebar -->
  </div><!-- /.row -->
</div><!-- /.container -->
<footer class="blog-footer">
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>
